nav {
  &.primary-navigation {
    margin: 0 auto;
    display: block;

    padding: 120px 0 0 0;
    text-align: center;
    font-size: 16px;

    ul li {
      list-style: none;
      margin: 0 auto;
      border-left: 2px solid #3ca0e7;
      display: inline-block;
      padding: 0 30px;
      position: relative;
      text-decoration: none;
      text-align: center;
      font-family: arvo;
    }

    li a {
      color: black;
    }

    li a:hover {
      color: #3ca0e7;
    }

    li:hover {
      cursor: pointer;
    }

    ul li ul {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      padding-left: 0;
      left: 0;
      display: none;
      background: white;
    }

    ul li:hover > ul,
    ul li ul:hover {
      visibility: visible;
      opacity: 1;
      display: block;
      min-width: 250px;
      text-align: left;
      padding-top: 20px;
      box-shadow: 0px 3px 5px -1px #ccc;
    }

    ul li ul li {
      clear: both;
      width: 100%;
      text-align: left;
      margin-bottom: 20px;
      border-style: none;
    }

    ul li ul li a:hover {
      padding-left: 10px;
      border-left: 2px solid #3ca0e7;
      transition: all 0.3s ease;
    }
  }
}

a {
  text-decoration: none;

  &:hover {
    color: #3ca0e7;
  }
}

ul li ul li a {
  transition: all 0.5s ease;
}
/* dropdrown menu ↑*/

body {
  font-family: arial;
  font-size: 16px;
}

header p {
  text-align: center;
  color: white;
  font-size: 32px;
  border-radius: 10px;
  background-color: rgb(202, 183, 236);
  width: 70%;
  margin: auto;
  margin-top: 30px;
}
section {
  border-radius: 10px;
  width: 80%;
  margin: auto;
  padding: 15px;
  min-height: 200px;
  box-shadow: 5px 5px 10px rgba(216, 142, 226, 0.5);
}

section div {
  width: 33%;
  float: left;
  padding-top: 30px;
  text-align: center;
}